.cate-image{
    width: 100px;
}

.form-select{
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.order-details label{
    font-size: 16px;
    font-weight: 700;
  }
  
  .order-details div{
    font-size: 16px;
    padding: 5px !important;
  }
  
  .order-details h4{
    font-weight: bold;
  }

  .bgCNav{
    background-color: #5d2417;
  }

  .textNav{
    color: #fff;
    font-weight: 500;
  }

  .bgCFoot{
    background-color: #5d2417;
  }